body{
    background-color: burlywood;
}
footer{
    background-color: rebeccapurple;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    font-size: 1.0rem;
}