ody{
    background-color: rgb(165, 60, 155);
}
footer{
    background-color: rebeccapurple;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p{
    text-align: center;
    font-size: 1.0rem;
}
footer{
    background-color: rgb(185, 145, 227);
    position: white;
    bottom: 0;
    width: 100%;
    height: 2rem;
}
footer p{
    text-align:center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}
body{
    background-color: rgb(157, 101, 163);
    font-family:bai jamjuree;
}
#conainer{
    display: flex;
}
.cartao{
    margin: 1rem 1rem;
    background-color: blue;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}